# LOAD THE DATASETS

In [4]:
import pandas as pd
import numpy as np

In [5]:
x_train_woe=pd.read_csv(r"E:\DV Data Science\Retail_PD_Scorecard\data\processed\x_train_woe.csv")

In [6]:
y_train=pd.read_csv(r"E:\DV Data Science\Retail_PD_Scorecard\data\processed\y_train.csv")

# BUILD THE LOGISTIC REGRESSEION MODEL FOR EACH VARIABLE

In [11]:
import statsmodels.api as sm
from sklearn.metrics import roc_auc_score

In [8]:
columns=x_train_woe.columns.tolist()

In [13]:
variable=[]
coef=[]
p_value=[]
auc=[]
somers_D=[]

In [14]:
for col in columns:
    x=sm.add_constant(x_train_woe[col])
    model=sm.Logit(y_train,x).fit()
    variable.append(col)
    coef.append(model.params[col])
    p_value.append(model.pvalues[col])
    y_pred_probab=model.predict(x)
    auc_score=roc_auc_score(y_train,y_pred_probab)
    auc.append(auc_score)
    somers_d_score=2*auc_score-1
    somers_D.append(somers_d_score)

Optimization terminated successfully.
         Current function value: 0.269045
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.269089
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.275787
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.276855
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.277031
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.277290
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.277481
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.277817
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.278393
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.278617
         Iterations 7

In [15]:
sfa_summary=pd.DataFrame(
    {
        'Variable':variable,
        'Coeff':coef,
        'p-value':p_value,
        'auc':auc,
        "Somer's d":somers_D
    }
)

In [16]:
sfa_summary.sort_values("Somer's d",ascending=False)

              Variable     Coeff        p-value       auc  Somer's d
1         EXT_SOURCE_2 -1.000000   0.000000e+00  0.653793   0.307586
0         EXT_SOURCE_3 -1.000000   0.000000e+00  0.649160   0.298321
3        DAYS_EMPLOYED -1.000000   0.000000e+00  0.588608   0.177215
4      AMT_GOODS_PRICE -1.000000   0.000000e+00  0.584643   0.169286
2         EXT_SOURCE_1 -1.000000   0.000000e+00  0.583291   0.166581
6           DAYS_BIRTH -1.000000   0.000000e+00  0.581794   0.163588
5      OCCUPATION_TYPE -1.000000   0.000000e+00  0.578906   0.157813
7    ORGANIZATION_TYPE -1.000000  1.263886e-279  0.575313   0.150627
8     NAME_INCOME_TYPE -1.000152  2.256457e-218  0.561839   0.123677
9  NAME_EDUCATION_TYPE -1.000000  7.116191e-187  0.548636   0.097272

In [17]:
x_train_woe.corr()

,EXT_SOURCE_3,EXT_SOURCE_2,EXT_SOURCE_1,DAYS_EMPLOYED,AMT_GOODS_PRICE,OCCUPATION_TYPE,DAYS_BIRTH,ORGANIZATION_TYPE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE
EXT_SOURCE_3,1.000000,0.100327,0.082591,0.153050,0.088266,0.038216,0.176964,0.083590,0.086919,-0.017603
EXT_SOURCE_2,0.100327,1.000000,0.141693,0.075287,0.092083,0.088424,0.090279,0.017534,0.042104,0.131969
EXT_SOURCE_1,0.082591,0.141693,1.000000,0.138155,0.088872,0.183050,0.238488,0.093675,0.096851,0.125735
DAYS_EMPLOYED,0.153050,0.075287,0.138155,1.000000,0.078119,0.223855,0.474179,0.402472,0.361054,-0.047451
AMT_GOODS_PRICE,0.088266,0.092083,0.088872,0.078119,1.000000,0.070088,0.086576,0.030006,0.038856,0.067819
OCCUPATION_TYPE,0.038216,0.088424,0.183050,0.223855,0.070088,1.000000,0.199748,0.399771,0.360546,0.258600
DAYS_BIRTH,0.176964,0.090279,0.238488,0.474179,0.086576,0.199748,1.000000,0.434674,0.480899,-0.126757
ORGANIZATION_TYPE,0.083590,0.017534,0.093675,0.402472,0.030006,0.399771,0.434674,1.000000,0.605543,0.024550
NAME_INCOME_TYPE,0.086919,0.042104,0.096851,0.361054,0.038856,0.360546,0.480899,0.605543,1.000000,0.011023
NAME_EDUCATION_TYPE,-0.017603,0.131969,0.125735,-0.047451,0.067819,0.258600,-0.126757,0.024550,0.011023,1.000000

# Inferences from SFA
1) Coefficients of each variable is -ve because of WOE transormation of variable
2) p-value of each variable is negligible(<0.05) ie. significant
3) Strong variables (Somer's D > 0.25)
4) Medium Strength (0.15-0.20)
5) Weak(<0.12)

## We do not eliminate based any variables based on SFA as of now, because the signs are expected no instability p-values<0.05, somer's d>0.05